<h1>Sign In</h1>

<%= form_with url: sign_in_path  do |form| %>
  <%# if @user && @user.errors.any? %>
<!--    <div class="alert alert-danger">-->
      <%# p @user.errors.full_messages %>
      <%# @user.errors.full_messages.each do |message|%>
<!--        <div> <%#= message %></div>-->
      <%#end %>
<!--    </div>-->
  <%#end %>
  <div class="row justify-content-start">
    <div class="col-2">
      <label for="InputEmail1" class="col-form-label">Email address</label>
    </div>
    <div class="col-3">
      <%= form.text_field :email, class: "form-control", id: "InputEmail1"%>
    </div>
  </div>
  <div class="row justify-content-start">
    <div class="col-2">
      <label for="InputPassword1" class="form-label">Password</label>
    </div>
    <div class="col-3">
      <%= form.password_field :password, class: "form-control", id: "InputPassword1" %>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Sign In</button>
<% end %>>
