<h1>Create group</h1>

<%= form_with model: @group,  url: new_group_path  do |form| %>
  <% if @group.errors.any? %>
    <div class="alert alert-danger">
      <% @group.errors.full_messages.each do |message|%>
      <div> <%= message %></div>
      <%end %>
    </div>
    <%end %>
  <div class="row justify-content-start">
    <div class="col-2">
      <label for="InputEmail1" class="col-form-label">Name</label>
    </div>
    <div class="col-3">
      <%= form.text_field :name, class: "form-control", id: "InputName1"%>
    </div>
  </div>
    <div class="row justify-content-start">
      <div class="col-2">
        <label for="InputType1" class="col-form-label">Type</label>
      </div>
      <div class="col-3">
        <%= form.text_field :group_type, class: "form-control", id: "InputType1"%>
      </div>
    </div>
  <button type="submit" class="btn btn-primary">Create group</button>
<% end %>
