<h5 class="card-title ps-2">  <%= @group.name %></h5>
<% p @group.expenses %>
<div class="d-flex flex-column align-items-center">
  <% @group.expenses.includes(:expense_debts, :expense_payments).each do |form| %>
    <div class="w-100">
      <a class="row p-1 text-decoration-none text-dark" href="http://www.google.com">
        <div class="col-6 col-sm-1"><%=form.date_time.to_date %></div>
        <div class="col-6 col-sm-1"><%= form.title %></div>
        <div class="col-6 col-sm-3"><%= form.total %></div>
      </a>
    </div>
  <% end %>
</div>