<h5 class="card-title ps-2">  <%= @group.name %></h5>
<div class="d-flex flex-column align-items-center">
  <% if (@expenses =  @group.expenses.includes(:expense_debts, :expense_payments)).present? %>
    <%= render expenses: @expenses, template: 'v1/expenses/index' %>
  <% else %>
    <div>
      <h6 class="card-title ps-2"> No expenses</h6>
    </div>
  <% end %>
</div>
<div>
  <a href=<%= new_group_expense_path group_id: @group.id%>>
    <button type="button" class="btn btn-primary">Add expense</button>
  </a>
  <button type="button" class="btn btn-primary">Delete group</button>
</div>